.button {
  color: var(--black-1);
  padding: 16px 28px;
  border-radius: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  gap: 16px;
  background-color: var(--orange-1);
  align-items: center;
}

.outer {
  box-shadow: var(--box-shadow-button);
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px var(--orange-3) inset;
  -webkit-box-shadow: 0px 0px 0px 3px var(--orange-3) inset;
  -moz-box-shadow: 0px 0px 0px 3px var(--orange-3) inset;
}

.button:active {
  background-color: var(--orange-2);
}

.button.animate {
  animation: bounce 500ms forwards
    linear(
      0,
      0.022,
      0.0739,
      0.1486,
      0.24,
      0.3417,
      0.4485,
      0.5557,
      0.6596,
      0.7572,
      0.8462,
      0.925,
      0.9926,
      1.0488,
      1.0934,
      1.127,
      1.1504,
      1.1644,
      1.1704,
      1.1694,
      1.1627,
      1.1516,
      1.1371,
      1.1204,
      1.1025,
      1.0841,
      1.066,
      1.0488,
      1.0329,
      1.0187,
      1.0062,
      0.9958,
      0.9873,
      0.9807,
      0.9759,
      0.9728,
      0.9712,
      0.9709,
      0.9716,
      0.9732,
      0.9754,
      0.9781,
      0.9811,
      0.9842,
      0.9873,
      0.9904,
      0.9932,
      0.9958,
      0.998,
      1
    );
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.buttonText {
  font-size: 14px;
}

.buttonIcon {
  width: 24px;
  height: 24px;
}

.disabled,
.disabled:hover,
.disabled:active {
  background-color: var(--disabled) !important;
  color: var(--disabled-text) !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 578px) {
  .outer {
    padding: 16px 20px;
  }
}
