.inputContainer {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 21px 25px;
  border: 2px dashed var(--orange-2);
  border-radius: 50px;
  text-align: flex-start;
  font-family: Helvetica, Arial, sans-serif;
}

.input:focus {
  border: 2px solid var(--orange-2);
  border-color: var(--orange-2);
  outline: var(--orange-2);
}

.error {
  border: 2px dashed var(--red) !important;
}

.error:focus {
  border: 2px solid var(--red) !important;
  border-color: var(--red);
  outline: var(--red);
}

.inputButton {
  position: absolute;
  right: 10px;
  top: 8px;
  color: var(--black-1);
  padding: 16px 28px;
  border-radius: 50px;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  gap: 16px;
  background-color: var(--orange-1);
}

.inputButton.sent {
  width: 96%;
  justify-content: center !important;
}

.sent:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.sent:active {
  background-color: var(--orange-1) !important;
}

.inputButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px var(--orange-2) inset;
  -webkit-box-shadow: 0px 0px 0px 3px var(--orange-2) inset;
  -moz-box-shadow: 0px 0px 0px 3px var(--orange-2) inset;
}

.inputButton:active {
  background-color: var(--orange-2);
}

.buttonText {
  font-size: 14px;
}

.buttonIcon {
  width: 24px;
  height: 24px;
}

.disabled {
  background-color: var(--disabled);
  color: var(--disabled-text);
}

.disclaimer {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--disabled-text);
}

.errorDisclaimer {
  color: var(--red);
}
