.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 171px;
  padding: 128px 204px;
  background-color: var(--white-1);
  border-radius: 50px;
  border: 4px solid var(--white-4);
  width: 100%;
  box-shadow: var(--box-shadow-main);
}
