.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 31px;
  width: 100%;
}

.radio {
  position: relative;
  width: 48px;
  height: 48px;
  border: 3px dashed var(--orange-2);
  border-radius: 50%;
  appearance: none;
  --webkit-appearance: none;
  outline: none;
  cursor: pointer;
  background-color: white;
}

.animate {
  animation: bounce 500ms forwards
    linear(
      0,
      0.022,
      0.0739,
      0.1486,
      0.24,
      0.3417,
      0.4485,
      0.5557,
      0.6596,
      0.7572,
      0.8462,
      0.925,
      0.9926,
      1.0488,
      1.0934,
      1.127,
      1.1504,
      1.1644,
      1.1704,
      1.1694,
      1.1627,
      1.1516,
      1.1371,
      1.1204,
      1.1025,
      1.0841,
      1.066,
      1.0488,
      1.0329,
      1.0187,
      1.0062,
      0.9958,
      0.9873,
      0.9807,
      0.9759,
      0.9728,
      0.9712,
      0.9709,
      0.9716,
      0.9732,
      0.9754,
      0.9781,
      0.9811,
      0.9842,
      0.9873,
      0.9904,
      0.9932,
      0.9958,
      0.998,
      1
    );
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.labelContainer > p {
  font-size: 14px;
}

.disabled:hover {
  background-color: var(--white-1) !important;
  border: 3px dashed var(--orange-2) !important;
}

.disabled:active {
  background-color: var(--white-1) !important;
}

.radio:hover {
  border: 3px solid var(--orange-2);
  background-color: var(--orange-2);
}

.radio:not(.disabled):active::after {
  position: absolute;
  content: url(../assets/Scribble.svg);
  top: -5px;
}

.radio:checked {
  border: 3px solid var(--orange-2);
  background-color: var(--orange-2) !important;
}

.radio:checked::after {
  position: absolute;
  content: url(../assets/Scribble.svg);
  top: -5px;
}

@media (hover: none) {
  .radio:hover {
    background-color: transparent;
    border: 3px dashed var(--orange-2);
  }
}

.radio,
.touched {
  transition: background-color 0.3s ease, border 0.3s ease;
}

.touched {
  border: 3px solid var(--orange-2) !important;
  background-color: var(--orange-2) !important;
}

.radioContainer,
.labelContainer {
  display: flex;
  justify-content: space-between;
}

.radioContainer {
  padding: 0px 5px;
}
