.result {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 84px 0px 94px 0px;
  max-width: 874px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.resultIntro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.resultPre {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--disabled-text);
}

.numContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.resultNum {
  font-family: "Merriweather";
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
}

.percentage {
  font-family: "Merriweather";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.niceOne {
  font-family: "Merriweather";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}

.resultGraphic {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bubbleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.bubbleRow {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 1;
}

.social {
  background-color: var(--social);
}
.emotional {
  background-color: var(--emotional);
}
.physical {
  background-color: var(--physical);
}
.playful {
  background-color: var(--playful);
}
.cognitive {
  background-color: var(--cognitive);
}
.systemic {
  background-color: var(--systemic);
}

.bubbleText {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.highestLowest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.highestContainer,
.lowestContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.highestLowestHeader {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--teal-1);
}

.highestLowestTitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
}

.subContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.large {
  padding: 40px 156px;
}

.subContent {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.subContent > h3 {
  font-weight: 500;
  color: var(--teal-1);
  text-align: center;
  margin-bottom: 18px;
}

.subContent > ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  list-style: none;
  padding: 0px;
}

.subContent > ul > li {
  display: flex;
  gap: 18px;
  align-items: center;
}

.bullet {
  flex-shrink: 0;
  margin-top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--teal-2);
}

.emailContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.emailTitle {
  color: var(--teal-1);
  font-family: "Merriweather" !important;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}

.disclaimer {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--disabled-text);
}

.headshot {
  width: 200px;
  height: 178px;
  align-self: center;
}

.bold {
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.getInTouchContainer,
.moreInfoContainer {
  gap: 36px;
}

.singleButton {
  justify-content: center;
}

@media only screen and (max-width: 994px) {
  .result {
    padding: 60px 20px;
    width: 100%;
  }

  .subContainer {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .large {
    padding: 20px 75px;
  }
}

/* --- Mobile: up to 578px --- */
@media only screen and (max-width: 578px) {
  .result {
    padding: 30px 16px;
  }

  .large {
    padding: 0px;
  }

  .content > section:first-child {
    padding: 40px 30px;
  }

  .buttonContainer:last-child {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .buttonContainer:first-child > div {
    padding: 8px 14px;
  }

  .buttonContainer:first-child > div:last-child {
    align-items: center;
  }

  .content > section:last-child {
    padding-bottom: 100px;
  }

  .bubbleText {
    font-size: 10px;
  }

  .bubbleRow {
    gap: 0px;
  }

  .bubbleContainer {
    gap: 5px;
  }
}
