.background {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--white-3);
  backdrop-filter: blur(2px);
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stickyContainer {
  position: relative;
  height: 100%;
}

.shareModal {
  padding-top: 16px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  max-width: 874px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.closeButton {
  align-self: flex-end;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.closeButton:hover {
  cursor: pointer;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textContainer > h3 {
  font-family: "Merriweather" !important;
  text-align: center;
  color: var(--teal-1);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}

.copyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.copyText {
  position: relative;
  width: 100%;
  padding: 21px 25px;
  border: 2px dashed var(--orange-2);
  border-radius: 50px;
  text-align: flex-start;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyButton {
  position: absolute;
  right: 6px;
  top: 5px;
  color: var(--black-1);
  padding: 16px 28px;
  border-radius: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  gap: 16px;
  background-color: var(--orange-1);
}

.copyButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px var(--orange-2) inset;
  -webkit-box-shadow: 0px 0px 0px 3px var(--orange-2) inset;
  -moz-box-shadow: 0px 0px 0px 3px var(--orange-2) inset;
}

.copyButton:active {
  background-color: var(--orange-2);
}

.copyButton.copied {
  width: 97%;
  justify-content: center !important;
}

.copied:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.copied:active {
  background-color: var(--orange-1) !important;
}

.disclaimerContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.disclaimer {
  color: var(--disabled-text);
}

.qrCode > img {
  width: 227px;
  height: 227px;
}

/* --- Tablet: 579px to 994px --- */
@media only screen and (max-width: 994px) {
  .shareModal {
    padding: 16px 20px 72px 20px;
    width: 100%;
  }
}

/* --- Mobile: up to 578px --- */
@media only screen and (max-width: 578px) {
  .shareModal {
    padding: 16px 16px 60px 16px;
  }
}
