.container {
  width: 100%;
  padding: 40px 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--white-2);
  border: 4px solid var(--white-1);
  border-radius: 50px;
  box-shadow: var(--box-shadow-sub);
}

@media only screen and (max-width: 994px) and (min-width: 579px) {
  .container {
    padding: 40px 107px;
    gap: 32px;
  }
}
