.input {
  width: 100%;
  padding: 21px 0px;
  border: 2px dashed var(--orange-2);
  border-radius: 50px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.input:focus {
  border: 2px solid var(--orange-2);
  border-color: var(--orange-2);
  outline: var(--orange-2);
}
