.input {
  width: 100%;
  padding: 20px 0px;
  border: 2px dashed var(--orange-2);
  border-radius: 50px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}

.input:focus {
  border: 2px solid var(--orange-2);
  border-color: var(--orange-2);
  outline: var(--orange-2);
}
